.navbar {
  width: calc(100% - 240px);
  height: 65px;
  background: #0f0f0f;
  border-bottom: 1px solid #1f1f1f;
  display: flex;
  align-items: center;
  padding: 0 30px;
  position: fixed;
  left: 240px;
  top: 0;
  z-index: 20;
  box-shadow: 0 0 25px rgba(0,0,0,0.35);
}

.navbar h1 {
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  letter-spacing: 0.4px;
}
